body{
    margin: 0;
    font-family: 'Roboto';
}
.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    gap: 100px;
    padding: 20px 300px 125px;

}

.first{
    display: flex;
    justify-content: space-between;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;

}

ul {
    list-style-type: none;
}

a{
    color: #E5E7EB ;
    font-style: 'Roboto';
    text-decoration: none;
}
.links{
    display: flex;
    gap: 15px;
}

.second{

    display: flex;
    justify-content: space-between;
}

.header_text{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    flex-shrink: 1;
}

.bigger{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.smaller{
    font-size: 18px;
    color: #E5E7EB;
}

.sign_up{
    background-color: #3882f6;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #E5E7EB;
    font-weight: 900;
    width: 110px;
    border-radius: 15px;
    font-size: 15px;
}
.tree {
    width: 600px;
    height: 250px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 400px 125px;
    gap:50px;

}

.pic {
    width: 180px;
    height: 180px;
    border-radius: 15px;
}

.random{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.subtext{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
    width: 180px;
    margin: 10px;
}

.illus{
    text-align: center;
}

.quote{
    background-color: #E5E7EB;
    padding: 125px 470px 125px;
}

.testimonial{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author{
    text-align: right;
    font-size: 24px;
    font-weight: 900;
}

.call{
    display: flex;
    background-color: #3882F6;
    margin: 100px 300px;
    padding: 50px;
    border-radius: 15px;
    justify-content: space-evenly;

}

.action{
    font-size: 22px;
    font-weight: 900;
    color: #F9FAF8;
}

.click{
    font-size: 18px;
    color:#E5E7EB;
}

.sign_down{
    background-color: #3882F6;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #F9FAF8;
    font-weight: 900;
    width: 110px;
    border-radius: 15px;
    font-size: 15px;
    outline: 2px solid #F9FAF8;
    box-shadow: 0 0 0 3px #4A90E2;
}

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 14px;
    text-align: center;
    padding: 28px;
}